*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* classi utilities */
.text-center{
    text-align: center;
}

.text-center{
    justify-content: center;
    align-items: center;
}


/* CLASSI HEADER */
header{
    background-color: rgba(0,132,253,255);
    color: white;
    height: 70px;
}

.container{
    max-width:600px ;
    margin: 0 auto;
}

.col-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-logo, .right-menu{
    margin:20px 10px;

}

.hamburger{
    display: block;
}


.extended-menu{
    display: none;
}
.menu-content{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

ul li{
    padding-left:20px;
}

li button{
    padding: 7px 12px;
    background-color: white;
    border-radius: 12px;
    border: none;
}



/* FINE CLASSI HEADER */
/* CLASSI PRIMA SEZIONE */
.col-30, .col-double, .col-33{
    width: calc(100% - 20px);
    background-color: crimson;
    height: 300px;
    margin: 10px;
}

/*CLASSI SECONDA ZEIONE */
.col-50{
    width: calc(100% - 20px);
    background-color: rgb(143, 20, 220);
    height: 300px;
    margin: 10px;
}
.col-100{
    width: 100%;

}

/*CLASSI TERZA ZEIONE */
.col-100{
    width: calc(100% - 20px);
    background-color: rgb(18, 128, 18);
    height: 300px;
    margin: 10px;
}

/* CLASSI FOOTER */
footer{
    background-color: rgba(0, 0, 0, 0.73);
}
/* TABLET RESPONSIVE */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }  
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .col-30{
        width: calc(100%/3 - 20px);
    }
    .col-33{
        width: calc(100%/2 - 20px);
    }
    .col-double{
        width:calc(100% / 3 * 2 - 20px);
    }
}


/* DESKTOP RESPONSIVE */
@media screen and (min-width:991px){
    .container{
        max-width: 900px;
    }  
    .hamburger{
        display: none;
    }
    .extended-menu{
        display: block;
    }
    .flex{
        display: flex;
    }

    .no-wrap{
        flex-wrap: nowrap;
    }
    .col-33{
        width: calc(100%/3 - 20px);
    }
}


/* LARGE DESKTOP RESPONSIVE */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }  
}